body, html {
<<<<<<< HEAD
    background-color: green;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
  }
  
  .App {
    text-align: center;
  }
  
=======
  background-color: green;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.App {
  text-align: center;
}
>>>>>>> ccd021fc672d0109748227152e86b208c145b7ac
