button {
<<<<<<< HEAD
    margin-top: 10px;
    border-radius: 10px 10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    border-color: transparent;
    outline: none;
  }
=======
  margin-top: 10px;
  border-radius: 10px 10px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  border-color: transparent;
  outline: none;
}
>>>>>>> ccd021fc672d0109748227152e86b208c145b7ac
